/* 
#Author: Sajan Kc
#Date: 3rd September 2020
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: 700;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
span,
strong {
  font-size: 1.2rem;
}

a {
  color: #27ad6c;
  text-decoration: none;
}

a:hover {
  color: #70c919;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.section-all {
  padding: 70px 0;
}

.chocolate-background {
  background-color: #423633;
}

.btn-all {
  width: 192px;
  height: 67px;
  border-radius: 4px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.4);
  background-color: #27ad6c;
  border: none;
  cursor: pointer;
}

.btn-all:hover {
  background-color: #88c542;
  color: #ffffff;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.container-fluid {
  margin: 0;
}

.outer-container {
  margin: 0 7%;
}

.heading__font48 {
  font-size: 48px;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

/* styling */

.header {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/img-hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.navbar {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  width: 20%;
}

.navbar__logo img {
  height: 35px;
}

.navbar__list {
  width: 80%;
  height: 35px;
  text-align: right;
  padding-top: 5px;
}

.navbar__list .navbar__item {
  display: inline-block;
  padding-left: 40px;
}

.navbar__list .navbar__item .navbar__link {
  color: #ffffff;
}

.navbar__list .navbar__item .navbar__link:hover,
.navbar__item--active .navbar__link {
  color: #70c919 !important;
}

.navbar__item .navbar__link img {
  height: 17px;
  vertical-align: bottom;
}

.navbar__item .navbar__link {
  margin: 0;
  padding: 0;
}

.header__content {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 50%);
}

.header__content .header__title {
  font-size: 4.6em;
}

.header__content .header__desc {
  font-size: 20px;
  opacity: 0.7;
  line-height: 1.4;
  text-align: center;
}

.header__button,
.footer__button {
  display: inline-block;
}

.header__button .header__link,
.footer__button .footer__link {
  color: #ffffff;
  display: inline-block;
  overflow: auto;
  text-transform: uppercase;
}

.header__button img,
.footer__button img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

/* Info section */
.section__info .info__head {
  text-align: center;
}

.section__info .info__menu {
  display: flex;
  justify-content: space-around;
}

.info__card {
  max-width: 300px;
}

.info__card__img {
  width: 400px;
}

.info__card__content {
  text-align: center;
}

.info__card__head {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: normal;
  color: #27ad6c;
}

.info__card__desc {
  font-size: 14px;
  line-height: 1.57;
  font-weight: normal;
  font-stretch: normal;
  color: #4a4a4a;
  opacity: 0.78;
}

/* News style */
.news {
  display: flex;
}

.news__resource {
  width: 50%;
  padding-right: 120px;
}

.news__blog {
  width: 50%;
  padding-left: 120px;
  border-left: 1px solid #27ad6c;
}

.news__resource__head,
.news__blog__head {
  padding-bottom: 20px;
}

.news__resource__link,
.news__blog__link {
  display: inline-block;
  color: #27ad6c;
}

.news__resource__link:hover .news__resource__title,
.news__blog__link:hover .news__blog__title {
  text-shadow: 2px 2px 10px #27ad6c;
}

.news__resource__item img {
  vertical-align: bottom;
}

.news__resource__title,
.news__blog__title {
  font-size: 16px;
  color: #27ad6c;
}

.news__resource__item {
  padding: 27px 0;
  width: 100%;
  border-bottom: 1px solid rgba(136, 197, 66, 0.2);
}

.news__blog__item {
  width: 100%;
  border-bottom: 1px solid rgba(136, 197, 66, 0.2);
  padding-top: 27px;
  padding-bottom: 10px;
}

.news__resource__item:last-child,
.news__blog__item:last-child {
  border-bottom: none;
}

.news__blog__time {
  display: block;
  font-size: 13px;
  margin-top: 4px;
  opacity: 0.5;
  color: #9b9b9b;
}

/* Ninja separator */
.section__ninja {
  padding-top: 50px;
  padding-bottom: 40px;
}

.ninja {
  display: flex;
  justify-content: center;
}

.ninja__separator {
  height: 1px;
  width: 123px;
  margin-top: 24px;
  background-color: #88c542;
  margin-left: 25px;
  margin-right: 25px;
}

.ninja__image {
  width: 50px;
  height: 48px;
}

/* Gallery section */

.section__gallery {
  padding-bottom: 0;
}

.section__gallery .gallery__head {
  text-align: center;
  margin-bottom: 21px;
}

.gallery__head span {
  font-size: 14px;
  color: #9b9b9b;
}

.gallery__container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 0;
}

.gallery__item {
  width: 100%;
  min-width: 100%;
  height: 430px;
  max-height: 430px;
}

.gallery__item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.gallery__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Services section */

.section__service {
  padding-top: 145px;
}

.service__head {
  text-align: center;
}

.service__head h2 {
  color: #ffffff;
  line-height: 1;
  padding-bottom: 48px;
}

.service__menu {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 45px;
  column-gap: 43px;
  padding-top: 28px;
}

.service__card {
  display: flex;
  flex-direction: row;
}

.service__card__content {
  padding-left: 11px;
}

.service__card__img {
  width: 50px;
  height: 60px;
}

.service__card__head {
  font-size: 18px;
  padding-bottom: 15px;
  line-height: 1.44;
  text-transform: uppercase;
  font-weight: bold;
}

.service__card__desc {
  opacity: 0.5;
  line-height: 1.5;
  color: #ffffff;
  font-size: 16px;
}

.service__button {
  text-align: center;
}

/* logo ninja */
#logo__ninja {
  padding-top: 23px;
  padding-bottom: 58px;
}

#logo__ninja .ninja__image {
  opacity: 0.3;
}

/* footer section */
.footer {
  background-color: #333333;
  height: 60px;
  vertical-align: middle;
}

.footer__item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__copyright span {
  color: #ffffff;
  font-size: 14px;
}

.footer__nav__menu {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.footer__nav__item {
  margin-left: 20px;
}

.footer__nav__item .nav__link {
  color: #ffffff;
}

.footer__nav__item:hover .nav__link {
  color: #70c919;
}
